
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: rgb(212, 223, 226);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: rgb(170, 203, 214);
}

.HeaderDiv {
  margin: 50px;
  font-size: 30px;
  background-color: rgba(142, 151, 159, 0.68);
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: rgb(0, 0, 0);
  border-radius: 10px;
  border-width: 5px;
  border-color: rgb(10, 10, 10);
  }
ul {
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}  

li {
  font-size: 12px;
  list-style: none;
  align-content: center;
  margin-right: 35px;
}


  .FooterDiv {
    margin: 50px;
    font-size: 30px;
    background-color: rgba(136, 142, 148, 0.605);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
